body:not(.aboutShow) {
  .about {
    pointer-events: none;

    @media screen and (min-width: 768px) {
      .container {
        transform: translate3d(0, 30px, 0);
      }
    }
  }
}

body.aboutShow {
  .ui .links .about-li:after {
    transform: scaleX(1) translateZ(0);
    transition-delay: 0.25s;
  }

  .ui {
    .contact,
    .right {
      opacity: 0 !important;
    }
  }

  .about,
  .about .container {
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);

    @media screen and (min-width: 768px) {
      transition-delay: 0.25s;
    }
  }

  .about {
    opacity: 1;
  }

  .btn-back {
    transform: translateX(0);
    transition-delay: 0.5s;
  }

  .mobile-nav-inner:before {
    transform: translate3d(-7px, 2px, 0) rotate(-45deg) scale(0.6, 1);
  }

  .mobile-nav-inner:after {
    transform: translate3d(-7px, -2px, 0) rotate(45deg) scale(0.6, 1);
  }
}

.about {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s 0s;

  &:before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: rgba($offWhite, 0.95);
  }

  .container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: calc(1440px + 10vw);
    // height: calc(100vh - (106px + 15vh) - (107px + 5vh));
    height: calc(100vh - (106px + 15vh));
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    margin: calc(106px + 15vh) auto calc(107px + 5vh);
    padding-left: 5vw;
    padding-right: 5vw;
    transform: translate3d(0, 0, 0);
    transition: transform 0.5s cubic-bezier(0.755, 0.05, 0.855, 0.06) 0s;
  }

  .left {
    width: 55%;
    padding-right: 10%;
    font-size: 30px;
    line-height: 1.2em;
    color: #000;

    p {
      font-size: 24px;
    }

    p:last-of-type {
      margin-bottom: 50px;
    }
  }

  .right {
    display: flex;
    justify-content: space-between;
    width: 45%;
    padding-top: 8px;
    color: #000;
  }

  .col-1,
  .col-2 {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
    width: 50%;
    margin-bottom: 30px;
  }

  .left .heading {
    line-height: 1.2em;
  }

  .right .heading {
    width: 100%;
    margin-bottom: 20px;
  }

  .heading:not(:first-of-type) {
    margin-top: 50px;
  }

  a {
    display: inline-block;
    margin-bottom: 5px;
    color: #fff;
    text-decoration: none;
  }

  p {
    width: 100%;
    margin-bottom: 5px;
  }

  .info {
    width: 100%;
    padding-bottom: 30px;

    ul {
      width: 100%;
      padding-left: 0;
    }
  }

  ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
  }

  .title {
    margin-top: 0;
    margin-bottom: 5px;
  }

  li {
    line-height: 1.2em;
    margin-bottom: 5px;
  }

  li:last-of-type {
    margin-bottom: 0;
  }

  @media screen and (min-width: 768px) {
    .right {
      position: relative;
    }
  }

  @media screen and (max-width: 1070px) {
    .left {
      width: 45%;
    }

    .right {
      width: 55%;
    }
  }

  @media screen and (max-width: 767px) {
    z-index: 2;

    .container {
      display: block;
      height: 100vh;
      margin-top: 0;
      margin-bottom: 0;
    }

    .left {
      width: 100%;
      max-width: 414px;
      padding-top: calc(71px + 10vw);
      padding-right: 0;
    }

    .left .heading {
      font-size: 24px;
    }

    .left p {
      font-size: 20px;
      line-height: 1.4em;
    }

    .right {
      flex-wrap: wrap;
      width: 100%;
      padding: 0;
    }

    .col-1,
    .col-2 {
      width: 100%;
    }
  }
}
