html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto;
}

body {
  padding: 0;
  margin: 0;
  background-color: $offWhite;
  overflow-x: hidden;
  transition: background-color 0.5s;
}

.curtain {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s, background-color 0.5s;
}

.overflowHidden,
body.loading {
  overflow: hidden;
}

body.loading .curtain {
  opacity: 1;
  transition-delay: 0.5s;
}

.barba-container {
  transition: opacity 0.5s;
}

// body.uiHover:not(.aboutShow) .ui ~ #barba-wrapper .barba-container {
// 	opacity: 0.25;
// 	transition-delay: 0.5s;
// }

// Buttons

button.link {
  display: inline-block;
  position: relative;
  background-color: transparent;
  cursor: pointer;
  border: 0;
  padding: 0;
  font: inherit;
  outline: none;
}

.btn-back,
.btn-page-back {
  display: none;
  position: fixed;
  top: 5vh;
  right: 60px;
  z-index: 1;
  border: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
  text-transform: none;
  outline: none;
  cursor: pointer;
  transform: translateX(120px);
  transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1);

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: solid 1px transparent;
    border-radius: 50%;
    transform: scale(0.9);
    transition: transform 0.25s, border-color 0.25s;
  }

  @media screen and (max-width: 767px) {
    top: 5vw;
    right: 15px;

    &:before {
      display: none;
      // border-color: #000;
      // transform: scale(1);
    }
  }
}

@media screen and (min-width: 768px) {
  .btn-back,
  .btn-page-back {
    display: block;
  }
}

.btn-back:hover,
.btn-page-back:hover {
  &:before {
    border-color: #000;
    transform: scale(1);
  }

  .btn-box {
    transform: translateX(0) scale(1);
    opacity: 1;
    animation: slideLeftOutRightIn 2s cubic-bezier(0.6, -0.28, 0.735, 0.045)
      0.25s infinite forwards;
  }
}

@keyframes slideLeftOutRightIn {
  0% {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
  5% {
    transform: translateX(0) scale(0.75);
    opacity: 1;
  }
  19.99% {
    transform: translateX(-50%) scale(0.75);
    opacity: 0;
  }
  20% {
    transform: translateX(50%) scale(0.75);
    opacity: 0;
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  30% {
    transform: translateX(0) scale(0.75);
    opacity: 1;
  }
  40% {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
}

.about .btn-back:hover {
  .btn-box {
    transform: translateY(0) scale(1);
    opacity: 1;
    animation: scaleSlideDownscaleSlideUp 2s
      cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.25s infinite forwards;
  }
}

@keyframes scaleSlideDownscaleSlideUp {
  0% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
  5% {
    transform: translateY(0) scale(0.75);
    opacity: 1;
  }
  24.99% {
    transform: translateY(50%) scale(0.75);
    opacity: 0;
  }
  25% {
    transform: translateY(-50%) scale(0.75);
    opacity: 0;
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  40% {
    transform: translateY(0) scale(0.75);
    opacity: 1;
  }
  50% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}

.btn-box {
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  position: relative;
}

// Icon Back

.icon-back {
  display: block;
}

.icon-back,
.icon-back:before,
.icon-back:after {
  position: absolute;
  width: 25px;
  height: 2px;
  border-radius: 1px;
  background-color: #000;
  transition: background-color 0.15s ease-in-out, transform 0.15s ease-in-out;
}

.icon-back {
  position: relative;
}

.icon-back:before,
.icon-back:after {
  content: "";
  display: block;
}

.icon-back:before {
  top: -7px;
}

.icon-back:after {
  bottom: -7px;
}

.icon-back:before {
  transform: translate3d(-7px, 2px, 0) rotate(-45deg) scale(0.6, 1);
}

.icon-back:after {
  transform: translate3d(-7px, -2px, 0) rotate(45deg) scale(0.6, 1);
}

// Icon Close

.icon-close {
  display: block;
}

.icon-close:before,
.icon-close:after {
  position: absolute;
  width: 25px;
  height: 2px;
  border-radius: 1px;
  background-color: #000;
  transition: background-color 0.15s ease-in-out, transform 0.15s ease-in-out;
}

.icon-close {
  position: relative;
}

.icon-close:before,
.icon-close:after {
  content: "";
  display: block;
}

// .icon-close:before {
// 	top: -7px;
// }

// .icon-close:after {
// 	bottom: -7px;
// }

.icon-close:before {
  transform: translateX(-50%) rotate(-45deg);
}

.icon-close:after {
  transform: translateX(-50%) rotate(45deg);
}

// Color Schemes

body:not(.home-page):not(.night-mode):not(.ultra-mode) {
  .color-mode .dot {
    background-color: #000;
  }
}

body.night-mode,
body.ultra-mode {
  background-color: #000;
  color: $offWhite;

  // UI

  .ui {
    color: $offWhite;
  }

  .ui .copyright {
    color: #fff;
  }

  @media screen and (min-width: 1025px) {
    &.uiHover:not(.aboutShow) & {
      .copyright {
        opacity: 0.5;
      }
    }
  }

  .mobile-nav {
    border-color: $offWhite;
  }

  .mobile-nav-inner,
  .mobile-nav-inner:before,
  .mobile-nav-inner:after {
    background-color: $offWhite;
  }

  .ui a:not(.logo),
  .ui button.link {
    color: $offWhite;
  }

  .ui .links .about-li:after,
  .ui .links .journal-li:after {
    background-color: $offWhite;
  }

  // Buttons

  .btn-back,
  .btn-page-back {
    &:hover:before {
      border-color: $offWhite;
    }
  }

  .icon-back,
  .icon-back:before,
  .icon-back:after,
  .icon-close:before,
  .icon-close:after {
    background-color: $offWhite;
  }

  .btn-gallery-left svg path,
  .btn-gallery-right svg path {
    fill: $offWhite;
  }

  // About

  &.aboutShow .stagePerspective,
  &.aboutShow .content {
    opacity: 0.1;
  }

  .about:before {
    background-color: rgba(0, 0, 0, 0.85);
  }

  .about {
    .left {
      color: $offWhite;
    }

    .right {
      color: $offWhite;
    }
  }

  @media screen and (min-width: 768px) {
    .about:before {
      display: none;
    }
  }

  @media screen and (max-width: 767px) {
    .ui .info {
      background-color: rgba(0, 0, 0, 0.85);
    }
  }

  // Home

  &.home-page:not(.ultra-mode) {
    .projects a {
      @supports (
        (-webkit-text-stroke: 2px $offWhite) or (text-stroke: 2px $offWhite)
      ) {
        color: transparent;

        -webkit-text-stroke: 2px $offWhite;
        text-stroke: 2px $offWhite;
      }
    }

    &:not(.intro):not(.outro) .projects.isHovering li:hover a,
    &:not(.outro) .projects li.isSelected a,
    &:not(.outro) .projects li.isSelected:hover a {
      @supports (
        (-webkit-text-stroke: 0px $offWhite) or (text-stroke: 0px $offWhite)
      ) {
        color: $offWhite;
      }
    }

    &.outro .projects.isHovering li:hover a,
    &.outro .projects li.isSelected a,
    &.outro .projects li.isSelected:hover a {
      @supports (
        (-webkit-text-stroke: 2px $offWhite) or (text-stroke: 2px $offWhite)
      ) {
        color: transparent;
        transition: color 0.5s 0.5s, opacity 1s;

        -webkit-text-stroke: 2px $offWhite;
        text-stroke: 2px $offWhite;
      }
    }

    .projects a:before {
      color: $offWhite !important;
    }

    .projects a:after {
      background-color: $offWhite;
    }

    @media screen and (max-width: 767px) {
      .projects a {
        @supports (
          (-webkit-text-stroke: 1px $offWhite) or (text-stroke: 1px $offWhite)
        ) {
          -webkit-text-stroke: 1px $offWhite;
          text-stroke: 1px $offWhite;
        }
      }
    }
  }

  // Work

  &.work-page {
    .case-study {
      .hero {
        .title {
          @supports (
            (-webkit-text-stroke: 1px #fff) or (text-stroke: 1px #fff)
          ) {
            -webkit-text-stroke: 1px #fff;
            text-stroke: 1px #fff;
          }
        }
      }

      .intro .credits a {
        color: $offWhite;
      }
    }
  }

  // Journal

  &.journal-page .journal {
    .cta {
      color: $offWhite;
    }

    .read-more:after {
      border-bottom-color: $offWhite;
    }
  }

  // Modules

  .module-copy .col-1 a,
  .module-copy .col-2 a {
    color: $offWhite;
  }

  .module-project {
    a {
      color: $offWhite;
    }

    a:hover {
      .project-name {
        color: $offWhite;
      }
    }

    @media screen and (min-width: 768px) {
      .project-name {
        @supports (
          (-webkit-text-stroke: 2px $offWhite) or (text-stroke: 2px $offWhite)
        ) {
          color: transparent;
          -webkit-text-stroke: 2px $offWhite;
          text-stroke: 2px $offWhite;
        }
      }
    }
  }

  .module-copy-image .copy {
    .link,
    a {
      color: $offWhite;
    }
  }

  .module-copy-image .image .caption a {
    color: $offWhite;
  }

  .flex-3 .chat:not(:nth-child(2n + 1)) {
    color: #000;
  }

  .flex-2 a,
  .flex-3 a {
    color: $offWhite;
  }

  .next-post a {
    color: $offWhite;
  }

  .flickity-page-dots .dot.is-selected {
    background-color: $offWhite;
  }
}

body.night-mode {
  // #barba-wrapper {
  // 	filter: grayscale(100%);
  // }

  // @-moz-document url-prefix() {

  // 	#barba-wrapper {
  // 		filter: none;
  // 	}

  // }

  .content {
    opacity: 1;
    transition: opacity 0.5s;
  }

  .curtain {
    background-color: #000 !important;
  }

  // UI

  .logo {
    color: #fff;

    @supports ((-webkit-text-stroke: 1px #fff) or (text-stroke: 1px #fff)) {
      -webkit-text-stroke: 1px #fff;
      text-stroke: 1px #fff;
    }

    @media screen and (min-width: 768px) {
      &:hover {
        @supports ((-webkit-text-stroke: 1px #fff) or (text-stroke: 1px #fff)) {
          color: transparent;
        }
      }
    }
  }

  // Work

  &.work-page {
    .case-study {
      .hero {
        &:after {
          background-color: #000;
        }
      }
    }
  }

  .flickity-page-dots .dot {
    background-color: #555;
  }

  @media screen and (max-width: 767px) {
    .module-copy-image .image:after {
      background: linear-gradient(
        to top,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0) 100%
      );
    }

    .project-name {
      font-size: 40px;
      @supports (
        (-webkit-text-stroke: 1px $offWhite) or (text-stroke: 1px $offWhite)
      ) {
        color: transparent;
        -webkit-text-stroke: 1px $offWhite;
        text-stroke: 1px $offWhite;
      }
    }
  }
}

body.light-mode {
  // #barba-wrapper {
  // 	filter: grayscale(100%);
  // }

  // @-moz-document url-prefix() {

  // 	#barba-wrapper {
  // 		filter: none;
  // 	}

  // }

  .color-mode .dot {
    background-color: #000;
  }

  &.home-page .projectsLi.isSelected .projectContainer a,
  &.home-page .projectsLi.isSelected:hover .projectContainer a {
    @supports (
      (-webkit-text-stroke: 3px #151515) or (text-stroke: 3px #151515)
    ) {
      color: transparent;

      -webkit-text-stroke: 3px #151515;
      text-stroke: 3px #151515;
    }
  }

  @media screen and (max-width: 767px) {
    &.home-page .projectsLi.isSelected .projectContainer a,
    &.home-page .projectsLi.isSelected:hover .projectContainer a {
      @supports (
        (-webkit-text-stroke: 1px #151515) or (text-stroke: 1px #151515)
      ) {
        -webkit-text-stroke: 1px #151515;
        text-stroke: 1px #151515;
      }
    }
  }
}

body.ultra-mode {
  background-color: $ultra;

  &.journal-page {
    #barba-wrapper:after {
      content: "";
      pointer-events: none;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 9999;
      width: 100%;
      height: 100%;
      background: $ultra;
      mix-blend-mode: color;
    }

    &.safari #barba-wrapper:after {
      mix-blend-mode: lighten;
    }

    @media screen and (max-width: 767px) {
      #barba-wrapper:after {
        mix-blend-mode: lighten;
      }

      #barba-wrapper:after {
        display: none;
      }
    }
  }

  .curtain {
    background-color: $ultra !important;
  }

  .content {
    opacity: 1;
    transition: opacity 0.5s;
  }

  // About & UI

  &:not(.home-page) {
    @supports ((-webkit-text-stroke: 1px #000) or (text-stroke: 1px #000)) {
      .ui.outline .logo:hover {
        color: $ultra;
      }
    }

    &.aboutShow .content {
      opacity: 0.1;
    }
  }

  .about:before {
    background-color: rgba($ultra, 0.85);
  }

  .logo {
    color: #fff;

    @supports ((-webkit-text-stroke: 1px #fff) or (text-stroke: 1px #fff)) {
      -webkit-text-stroke: 1px #fff;
      text-stroke: 1px #fff;
    }

    @media screen and (min-width: 768px) {
      &:hover {
        @supports ((-webkit-text-stroke: 1px #fff) or (text-stroke: 1px #fff)) {
          color: $ultra;
        }
      }
    }
  }

  @media screen and (max-width: 767px) {
    .ui .info {
      background-color: rgba($ultra, 0.85);
    }
  }

  // Home

  &.home-page {
    .projects a {
      @supports ((-webkit-text-stroke: 3px #000) or (text-stroke: 3px #000)) {
        color: #000;

        -webkit-text-stroke: 3px #000;
        text-stroke: 3px #000;
      }
    }

    &:not(.intro):not(.outro) .projects.isHovering li:hover a,
    &:not(.outro) .projects li.isSelected a,
    &:not(.outro) .projects li.isSelected:hover a {
      @supports (
        (-webkit-text-stroke: 3px #151515) or (text-stroke: 3px #151515)
      ) {
        color: transparent;

        -webkit-text-stroke: 3px #151515;
        text-stroke: 3px #151515;
      }
    }

    &.outro .projectsLi.isSelected .projectContainer a,
    &.outro .projectsLi.isSelected:hover .projectContainer a {
      @supports (
        (-webkit-text-stroke: 3px #151515) or (text-stroke: 3px #151515)
      ) {
        color: transparent;

        -webkit-text-stroke: 3px #151515;
        text-stroke: 3px #151515;
      }
    }

    // .projects a:before {
    // 	color: $offWhite !important;
    // }

    // .projects a:after {
    // 	background-color: $offWhite;
    // }

    @media screen and (min-width: 768px) and (max-width: 1320px) {
      .projects a {
        @supports ((-webkit-text-stroke: 2px #000) or (text-stroke: 2px #000)) {
          color: #000;

          -webkit-text-stroke: 2px #000;
          text-stroke: 2px #000;
        }
      }

      &:not(.intro):not(.outro) .projects.isHovering li:hover a,
      &:not(.outro) .projects li.isSelected a,
      &:not(.outro) .projects li.isSelected:hover a,
      .projectsLi.isSelected .projectContainer a,
      .projectsLi.isSelected:hover .projectContainer a,
      &.outro .projectsLi.isSelected .projectContainer a,
      &.outro .projectsLi.isSelected:hover .projectContainer a {
        @supports (
          (-webkit-text-stroke: 2px #151515) or (text-stroke: 2px #151515)
        ) {
          color: transparent;

          -webkit-text-stroke: 2px #151515;
          text-stroke: 2px #151515;
        }
      }
    }

    @media screen and (max-width: 767px) {
      .projects a {
        @supports (
          (-webkit-text-stroke: 1px #151515) or (text-stroke: 1px #151515)
        ) {
          color: #000;

          -webkit-text-stroke: 0px #151515;
          text-stroke: 0px #151515;
        }
      }

      &:not(.intro):not(.outro) .projects.isHovering li:hover a,
      &:not(.outro) .projects li.isSelected a,
      &:not(.outro) .projects li.isSelected:hover a,
      .projectsLi.isSelected .projectContainer a,
      .projectsLi.isSelected:hover .projectContainer a,
      &.outro .projectsLi.isSelected .projectContainer a,
      &.outro .projectsLi.isSelected:hover .projectContainer a {
        @supports (
          (-webkit-text-stroke: 1px #151515) or (text-stroke: 1px #151515)
        ) {
          color: transparent;

          -webkit-text-stroke: 1px #151515;
          text-stroke: 1px #151515;
        }
      }
    }
  }

  // Work

  &.work-page {
    .case-study {
      .hero {
        &:after {
          background-color: $ultra;
        }
      }
    }
  }

  .flickity-page-dots .dot {
    background-color: #000;
  }

  @media screen and (max-width: 767px) {
    .module-copy-image .image:after {
      background: linear-gradient(
        to top,
        rgba(72, 1, 255, 1) 0%,
        rgba(72, 1, 255, 0) 100%
      );
    }

    .project-name {
      font-size: 40px;
      @supports (
        (-webkit-text-stroke: 1px $offWhite) or (text-stroke: 1px $offWhite)
      ) {
        color: transparent;
        -webkit-text-stroke: 1px $offWhite;
        text-stroke: 1px $offWhite;
      }
    }
  }
}

// Basic Scroll

body:not(.isMobile) {
  .basicScroll {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
  }
}

.basicScroll .container {
  position: relative;
  width: 100%;
  transform: translateZ(0);
}

.basicScroll .content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  // will-change: transform;
}

body.isMobile {
  .basicScroll .content {
    position: static;
  }
}

body.safari .basicScroll .content {
  position: absolute;
  // padding-bottom: 0;
}

// Parallax

.parallax-horizontal-tb-bt {
  transform: translateX(var(--transform-x));
  transition: transform 3s ease-out;
}

.journal .parallax-horizontal-tb-bt {
  &.left {
    transition-duration: 1.5s;
  }

  &.right {
    transition-duration: 2s;
  }
}

.parallax-vertical-mm-bt {
  transform: translateY(var(--transform-y));
  transition: transform 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.parallax-vertical-tb-bt {
  transform: translateY(var(--transform-y));
  transition: transform 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

@media screen and (max-width: 767px) {
  .parallax-no-mobile {
    transform: none;
    transition: none;
  }
}

// Modules

.module-copy-image {
  position: relative;
  padding: 10vh 30px 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1500px;
  @include clear-fix;

  body.loading & {
    .image.reveal-show img {
      animation: imageScaleDown 1s cubic-bezier(0.23, 1, 0.32, 1) forwards;
    }

    @keyframes imageScaleDown {
      0% {
        opacity: 1;
        transform: translateY(0) scale(1);
      }
      100% {
        opacity: 0;
        transform: translateY(0) scale(0.9);
      }
    }

    @media screen and (max-width: 767px) {
      .image.reveal-show img {
        animation: imageSlideUpMobile 1s cubic-bezier(0.215, 0.61, 0.355, 1)
          forwards;
      }

      @keyframes imageSlideUpMobile {
        0% {
          opacity: 0.25;
          transform: translateY(0);
        }
        100% {
          opacity: 0;
          transform: translateY(-50px);
        }
      }
    }
  }

  .image {
    user-select: none;
    position: absolute;
    bottom: 0;
    right: 0;
    width: calc(66.66% - 10vw);
    // max-width: 640px;
    margin-top: calc(-1 * (108px + 10vh));
    margin-left: 100px;
    margin-bottom: 1.6em;
    overflow: hidden;

    img {
      position: relative;
      z-index: -1;
      // width: 100%;
      width: auto;
      max-width: 100%;
      max-height: 100vh;
      vertical-align: middle;
      opacity: 0;
      transform: translateY(100px) scale(0.75);
    }

    &.reveal-show {
      img {
        animation: imageScaleUp 1.5s cubic-bezier(0.215, 0.61, 0.355, 1)
          forwards;
      }

      .caption {
        animation: fadeIn 1s ease-in 0.5s forwards;
      }
    }

    @keyframes imageScaleUp {
      0% {
        opacity: 0;
        transform: translateY(100px) scale(0.75);
      }
      100% {
        opacity: 1;
        transform: translateY(0) scale(1);
      }
    }

    .caption {
      font-size: 14px;
      opacity: 0;

      .heading {
        margin-top: 30px;
        margin-bottom: 5px;
      }

      a {
        color: #000;
        text-decoration: none;
      }
    }
  }

  .flex-3 {
    padding: 0;

    // div p:first-of-type,
    // .next-post {
    // 	margin-top: 0;
    // }
  }

  .copy {
    @include clear-fix;
    opacity: 0;
    transition: opacity 1.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.25s;

    .post-info,
    > p,
    > h2 {
      width: 100%;
      max-width: 33.33%;
      padding-left: 30px;
    }

    p,
    h2 {
      font-size: 18px;
      line-height: 1.4em;
      margin-top: 1.6em;
      margin-bottom: 0;
    }

    h2 {
      font-size: 30px;
      line-height: 1.2em;
    }

    a {
      color: #000;
    }

    .date {
      width: 100%;
      @include interWideMedium;
      font-size: 10px;
      text-transform: uppercase;
    }

    .link,
    .category {
      display: block;
      width: 100%;
    }

    .link {
      margin-bottom: 5px;
      color: #000;
      text-decoration: none;
    }

    .heading {
      @include interWideMedium;
      font-size: 60px;
      text-shadow: $offWhite 0 0 1px;
      margin-top: 70px;
      margin-bottom: 70px;
      opacity: 0;
      transform: translateX(-50px);
      transition: opacity 1s 0.25s,
        transform 1s cubic-bezier(0.215, 0.61, 0.355, 1) 0.25s;
    }

    &.reveal-show {
      opacity: 1;

      .heading {
        opacity: 1;
        transform: translateX(0);
      }
    }

    body.loading & {
      .heading {
        opacity: 0;
        transform: translateX(-50px);
        transition-delay: 0.5s;
      }
    }
  }

  @media screen and (min-width: 1441px) {
    .copy .heading {
      padding-left: 15px;
    }
  }

  @media screen and (max-width: 1024px) {
    padding-top: 10vh;

    .copy .post-info,
    .copy > p,
    .copy > h2 {
      max-width: 50%;
    }

    .caption {
      display: none;
    }
  }

  @media screen and (max-width: 1023px) {
    .image {
      width: calc(50% - 30px);
      margin-left: 0;
      margin-bottom: 1.6em;
    }

    .copy {
      // .post-info,
      // p {
      // 	width: 50%;
      // 	padding-left: 5vw;
      // }

      .heading {
        margin-top: 5vw;
        margin-bottom: 5vw;
        font-size: 50px;
      }

      // .columns-3 {

      // 	columns: 2;
      // 	width: 100%;
      // 	max-width: 100%;

      // 	p {
      // 		width: 100%;
      // 		padding-left: 5vw;
      // 	}

      // }
    }
  }

  @media screen and (max-width: 767px) {
    padding-left: 0;
    padding-right: 0;

    .image {
      position: absolute;
      bottom: auto;
      top: calc(-1 * (71px + 10vh));
      right: -30px;
      margin-top: 0;
      width: 110vw;
      z-index: -1;
      transform: translateY(-50px) scale(1);
      transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1);

      &.reveal-show img {
        animation: imageSlideDownMobile 1.5s cubic-bezier(0.215, 0.61, 0.355, 1)
          forwards;
      }

      @keyframes imageSlideDownMobile {
        0% {
          opacity: 0;
          transform: translateY(-50px);
        }
        100% {
          opacity: 0.25;
          transform: translateY(0);
        }
      }

      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: calc(150px + 5vh);
        background: linear-gradient(
          to top,
          rgba(242, 242, 242, 1) 0%,
          rgba(242, 242, 242, 0) 100%
        );
        pointer-events: none;
      }

      img {
        width: 100%;
        max-height: 100%;
      }
    }

    .copy {
      h2 {
        font-size: 24px;
      }
    }

    .copy .post-info,
    .copy > p,
    .copy > h2 {
      max-width: 100%;
      padding-right: 30px;
    }
  }

  @media screen and (max-width: 550px) {
    .copy {
      .heading {
        font-size: 36px;
      }
    }
  }
}

.module-copy {
  display: flex;
  justify-content: space-between;
  padding: 15vh 10vw 0;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(1440px + 20vw);

  .summary {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 170px);
  }

  .col-1,
  .col-2 {
    flex-basis: 50%;
    padding-right: 30px;
    font-size: 18px;
    line-height: 1.4em;

    p {
      margin-bottom: 0;
    }

    p:not(:first-of-type) {
      margin-top: 1.6em;
    }

    a {
      color: #000;
    }
  }

  .col-1 {
    strong {
      font-size: 30px;
      line-height: 1.04em;
    }
  }

  @media screen and (max-width: 1024px) {
    padding-top: 10vh;

    .col-1,
    .col-2 {
      flex-basis: 100%;
    }

    .col-2 {
      margin-top: 1em;
    }
  }

  @media screen and (max-width: 1023px) {
    .summary {
      flex-wrap: wrap;
    }
  }

  @media screen and (max-width: 767px) {
    padding-left: 30px;
    padding-right: 30px;

    .summary {
      margin-top: 0;
      width: 100%;
    }

    .col-1,
    .col-2 {
      font-size: 18px;
      line-height: 1.4em;
    }

    .col-1 {
      strong {
        font-size: 20px;
      }
    }

    .col-2 {
      margin-top: 5vw;
    }
  }
}

body.journal-post-page .module-quote {
  @media screen and (max-width: 767px) {
    padding-left: 30px;
  }
}

.module-quote {
  position: relative;
  z-index: -1;
  padding: 15vh 10vw 5vh;
  max-width: calc(1440px + 20vw);
  margin-left: auto;
  margin-right: auto;

  blockquote {
    position: relative;
    margin: 0;
    width: calc(80% - 200px);
    @include interWideMedium;
    font-size: 3.2vw;
    letter-spacing: 0.03em;
    line-height: 1.2em;

    .quote-left {
      position: absolute;
      top: 6px;
      left: -63px;
      font-size: 6.2vw;
    }
  }

  .attribution {
    display: block;
    margin-top: 4em;
    width: 100%;
    @include Inter;
    font-size: 16px;
    font-weight: 500;
  }

  @media screen and (min-width: 1025px) {
    blockquote {
      font-size: 30px;
      line-height: 1.3em;
    }

    blockquote .quote-left {
      top: 8px;
      font-size: 72px;
    }
  }

  @media screen and (max-width: 1200px) {
    blockquote {
      width: calc(100% - 200px);
    }

    blockquote .quote-left {
      left: -5vw;
    }
  }

  @media screen and (max-width: 1024px) {
    padding-top: 10vw;

    blockquote {
      width: 100%;
      font-size: 26px;
      line-height: 1.3em;
    }

    blockquote .quote-left {
      top: 8px;
      font-size: 60px;
    }
  }

  @media screen and (max-width: 767px) {
    padding: 15vw 30px 20vw 60px;

    blockquote {
      font-size: 18px;
    }

    blockquote .quote-left {
      top: 2px;
      left: -7vw;
      font-size: 40px;
    }

    .attribution {
      margin-top: 2em;
    }
  }
}

.module-image {
  display: flex;
  justify-content: space-between;
  padding: 15vh 10vw 0;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(1440px + 20vw);

  img {
    width: calc(100% - 200px);
    height: 100%;
  }

  .info {
    flex-shrink: 0;
    width: 170px;
    margin-left: 30px;
    line-height: 1.4em;
  }

  .title {
    margin-bottom: 15px;
  }

  @media screen and (max-width: 1024px) {
    padding-top: 15vw;
  }

  @media screen and (max-width: 767px) {
    flex-wrap: wrap;
    padding-left: 30px;
    padding-right: 30px;

    img,
    video {
      width: 100%;
    }

    .info {
      margin-top: 5vw;
      margin-left: 0;
      width: 100%;
      font-size: 16px;
      line-height: 1.4em;
    }

    .title {
      margin-bottom: 5vw;
    }
  }
}

.module-gallery {
  display: flex;
  justify-content: space-between;
  padding: 15vh 10vw 0;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(1440px + 20vw);

  .gallery {
    position: relative;
    width: 100%;
  }

  .gallery img,
  .gallery video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    vertical-align: middle;

    // &:not(:last-of-type) {
    // 	margin-right: 5vw;
    // }
  }

  .info {
    flex-shrink: 0;
    width: 170px;
    margin-left: 30px;
    font-size: 12px;

    p {
      font-size: 14px;
      line-height: 1.4em;
    }
  }

  .pagination {
    margin-bottom: 20px;

    button {
      padding: 0;
      margin: 0;
      border: none;
      border-radius: none;
      background: none;
      outline: none;
      cursor: pointer;
    }

    .btn-gallery-left {
      transform: translateY(1px);
    }

    .current {
      padding-left: 10px;
    }

    .total {
      padding-right: 10px;
    }
  }

  .title {
    margin-bottom: 15px;
  }

  @media screen and (max-width: 1024px) {
    padding-top: 20vw;
  }

  @media screen and (max-width: 767px) {
    flex-wrap: wrap;
    padding-top: 15vw;
    padding-left: 30px;
    padding-right: 30px;

    .info {
      margin-top: 5vw;
      margin-left: 0;
      width: 100%;
    }

    .info p {
      font-size: 16px;
      line-height: 1.4em;
    }

    .pagination {
      width: 50%;
      float: right;
      margin-bottom: 5vw;
      text-align: right;
    }

    .title {
      width: 50%;
      float: left;
      margin-bottom: 5vw;
    }

    .description {
      clear: both;
    }
  }
}

// Flickity

.flickity-viewport {
  transition: height 0.3s ease-in-out;
}

.flickity-slider {
  width: 100.05%;
}

.flickity-prev-next-button {
  top: 0;
  transform: translateY(0);
  width: 15%;
  height: 100%;
  padding: 0;
  border-radius: none;
  background-color: transparent;
  cursor: pointer;

  &:hover {
    border-radius: none;
    background-color: transparent;
  }

  &.previous {
    left: 0;

    // &:not([disabled]) {
    // 	cursor: url("/img/ui/arrow-left-green.svg") 24 24, auto;
    // }
  }

  &.next {
    right: 0;

    // &:not([disabled]) {
    // 	cursor: url("/img/ui/arrow-right-green.svg") 24 24, auto;
    // }
  }

  svg {
    display: none;
  }
}

.flex-3 .flickity-page-dots,
.flickity-page-dots {
  display: flex;
  position: static;
  margin: 0;
  text-align: left;
}

.flickity-page-dots .dot {
  height: 2px;
  width: 100%;
  margin: 0;
  border-radius: 0;
  background-color: #ccc;
  opacity: 1;
  transition: background-color 0.2s ease-in-out;

  &.is-selected {
    background-color: #000;
  }
}

.module-video {
  display: flex;
  justify-content: space-between;
  padding: 15vh 10vw 0;
  max-width: calc(1440px + 20vw);
  margin-left: auto;
  margin-right: auto;

  video {
    width: calc(100% - 200px);
    height: 100%;
  }

  .info {
    flex-shrink: 0;
    width: 170px;
    margin-left: 30px;
    line-height: 1.4em;
  }

  .title {
    margin-bottom: 10px;
  }

  @media screen and (max-width: 1024px) {
    padding-top: 20vw;
  }

  @media screen and (max-width: 767px) {
    flex-wrap: wrap;
    padding-left: 30px;
    padding-right: 30px;

    video {
      width: 100%;
      opacity: 0.99;
    }

    .info {
      margin-top: 5vw;
      margin-left: 0;
      width: 100%;
    }

    .info p {
      font-size: 16px;
      line-height: 1.4em;
    }
  }
}

.module-code {
  display: flex;
  justify-content: space-between;
  padding: 15vh 10vw 0;
  max-width: calc(1440px + 20vw);
  margin-left: auto;
  margin-right: auto;

  .video-wrapper {
    position: relative;
    padding-bottom: calc(63.25% - 200px); /* 16:9 */
    padding-top: 25px;
    width: calc(100% - 200px);
    height: 0;
  }

  .video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .media {
    width: 100%;
    height: 620px;
  }

  .cp_embed_wrapper {
    width: 100%;
    height: 620px;
    overflow: hidden;
    resize: vertical;
    background: $offWhite;
    padding-bottom: 10px;
  }

  .cp_embed_wrapper iframe {
    height: 100% !important;
  }

  .info {
    flex-shrink: 0;
    width: 170px;
    margin-left: 30px;
    font-size: 12px;
  }

  .title {
    margin-bottom: 10px;
  }

  @media screen and (max-width: 1024px) {
    padding-top: 10vh;

    .media,
    .cp_embed_wrapper {
      height: 350px;
    }
  }

  @media screen and (max-width: 767px) {
    flex-wrap: wrap;
    padding-left: 30px;
    padding-right: 30px;

    .info {
      margin-top: 5vw;
      margin-left: 0;
      width: 100%;
      font-size: 16px;
      line-height: 1.4em;
    }

    .video-wrapper {
      padding-bottom: 56.25%; /* 16:9 */
      width: 100%;
    }

    .media,
    .cp_embed_wrapper {
      height: 280px;
    }
  }
}

.module-project {
  padding: 15vh 10vw calc(128px + 15vh);
  max-width: calc(1440px + 20vw);
  margin-left: auto;
  margin-right: auto;
  text-align: right;

  a {
    display: block;
    color: #000;
    text-decoration: none;
  }

  a:hover {
    .project-name {
      color: #000;
    }
  }

  .next-project {
    @include interWideMedium;
  }

  .project-name {
    display: block;
    text-align: right;
    text-transform: uppercase;
    @include interWideSuper;
    font-size: 9vw;
    letter-spacing: 0.02em;
    line-height: 0.9em;
    transition: color 0.2s ease-in-out;
  }

  @media screen and (min-width: 1441px) {
    .project-name {
      font-size: 130px;
    }
  }

  @media screen and (max-width: 1024px) {
    padding: 15vh 10vw;
  }

  @media screen and (min-width: 768px) {
    a {
      perspective: 100vw;
    }

    a:hover {
      .project-name {
        transform: rotate3d(0, 1, 0, 0deg) translateZ(0);
      }
    }

    .project-name {
      @supports ((-webkit-text-stroke: 2px #000) or (text-stroke: 2px #000)) {
        color: transparent;
        -webkit-text-stroke: 2px #000;
        text-stroke: 2px #000;
      }
      transform: rotate3d(0, 1, 0, -45deg) translateZ(0);
      transform-origin: right center;
      transition: color 0.2s ease-in-out, transform 0.5s;
    }

    &.reveal-show {
      .project-name {
        transform: rotate3d(0, 1, 0, -35deg) translateZ(0);
      }
    }
  }

  @media screen and (max-width: 767px) {
    padding-left: 30px;
    padding-right: 30px;

    .project-name {
      font-size: 40px;
      @supports ((-webkit-text-stroke: 1px #000) or (text-stroke: 1px #000)) {
        color: transparent;
        -webkit-text-stroke: 1px #000;
        text-stroke: 1px #000;
      }
    }
  }
}

.flex-2,
.flex-3 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  max-width: calc(1440px + 30px);
  padding: 15vh 30px 0;
  margin-left: auto;
  margin-right: auto;

  > * {
    width: 33.33%;
    max-width: 100%;
    padding: 0 0 0 30px;
    margin: 0;
  }

  a {
    color: #000;
  }

  ul,
  ol {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 18px;
    line-height: 1.4em;

    li {
      padding-left: 15px;
    }

    li:not(:last-of-type) {
      margin-bottom: 15px;
    }
  }

  ul {
    list-style: circle;
  }

  p {
    font-size: 18px;
    line-height: 1.4em;
    margin-top: 0;
    margin-bottom: 0;
  }

  // p strong {
  // 	font-size: 30px;
  // 	line-height: 1.2em;
  // }

  p:not(:first-of-type) {
    margin-top: 1.6em;
  }

  p.end-post strong {
    @include interWideMedium;
    font-size: 30px;
  }

  p.chat {
    margin-top: 40px;
    font-size: 16px;
    font-weight: 500;
    padding: 15px;
    background-color: #fff;
    border-top-left-radius: 6px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;

    span {
      font-size: 14px;
      font-weight: 300;
      opacity: 0.85;
    }

    @media screen and (max-width: 767px) and (min-width: 551px) {
      margin-bottom: 40px;
    }
  }

  .chat:nth-child(odd) {
    color: #fff;
    text-align: right;
    background-color: #222;
  }

  .module-gallery {
    display: block;
    // padding-left: 5vw;
    // margin-right: 4vw;

    .info {
      width: 100%;
      margin-left: 0;
    }

    .pagination {
      width: 50%;
      float: right;
      text-align: right;
    }

    .title {
      width: 50%;
      float: left;
    }

    .description {
      clear: both;
    }

    // @media screen and (max-width: 1024px) {
    // 	width: 50%;
    // 	padding-left: 5vw;
    // }
    // @media screen and (max-width: 767px) {
    // 	width: 100%;
    // 	padding-left: 0;
    // }
  }

  .module-image {
    display: block;

    .media,
    .info {
      width: 100%;
    }

    .info {
      margin-top: 30px;
      margin-left: 0;
    }

    img {
      height: auto;
    }
  }

  .module-copy {
    width: 66.66%;

    .summary {
      width: 100%;
    }

    .col-1 {
      padding-right: 15px;
    }

    .col-2 {
      padding-left: 15px;
      padding-right: 0;
    }

    p {
      font-size: 18px;
      line-height: 1.4em;
    }

    @media screen and (max-width: 1024px) {
      width: calc(50% - 15px);

      .summary {
        flex-wrap: wrap;
      }

      .col-1 {
        width: 100%;
        padding-right: 0;
      }

      .col-2 {
        width: 100%;
        padding-left: 0;
      }
    }

    @media screen and (max-width: 767px) {
      width: 100%;
      padding-right: 30px;
      margin-top: 5vw;
    }
  }

  @media screen and (max-width: 1440px) {
    padding-top: 10vw;
  }

  @media screen and (max-width: 1024px) {
    > * {
      width: 50%;
    }

    .col-3 {
      padding-top: 5vw;
    }
  }

  @media screen and (max-width: 767px) {
    // flex-wrap: nowrap;
    padding-top: 10vw;
    padding-left: 0;
    padding-right: 0;

    &.theme-reduce-top-padding {
      padding-top: 10vw;
    }

    > * {
      width: 100%;
      padding-left: 0;
      padding-right: 0;
    }

    // > .module-image:first-child {
    // 	margin-top: 5vw;
    // }

    .module-image + .module-copy {
      margin-top: 10vw;
    }

    .module-copy + .module-image {
      margin-top: 10vw;
      // margin-bottom: 5vw;
    }

    .module-copy {
      margin-top: 0;
      padding-right: 0;
    }

    .module-gallery {
      flex-shrink: 0;
      width: 100%;
    }

    .module-copy + .module-gallery {
      margin-top: calc(10vw + 10px);
    }

    .module-gallery + .module-copy {
      margin-top: 10vw;
    }
  }

  @media screen and (max-width: 550px) {
    flex-wrap: wrap;

    // &.theme-reduce-top-padding {
    // 	padding-top: 0;
    // }
    .col-2,
    .col-3 {
      margin-top: 10vw;
    }

    > * {
      width: 100%;
      // padding-right: 5vw;
    }

    p {
      margin-top: 1.6em;
    }

    p:first-of-type {
      margin-top: 0;
    }

    .module-copy {
      margin-top: 0;

      .col-1 {
        margin-top: 0;
      }

      .col-2 {
        margin-top: 10vw;
      }
    }
  }
}

.flex-2 {
  .col-1,
  .col-2 {
    max-width: 100%;
    padding: 0 0 0 30px;
    margin: 0;
  }

  .col-1 {
    width: 66.66%;
  }

  .col-2 {
    width: 33.33%;
  }

  .module-copy {
    .col-1 {
      padding-right: 15px;
    }

    .col-2 {
      padding-left: 15px;
      padding-right: 0;
    }

    @media screen and (max-width: 1024px) {
      .col-1 {
        width: 100%;
        padding-right: 0;
      }

      .col-2 {
        width: 100%;
        padding-left: 0;
      }
    }
  }

  @media screen and (max-width: 1024px) {
    .col-1,
    .col-2 {
      width: 100%;
    }
    .col-2 {
      padding-top: 5vw;
    }
  }

  @media screen and (max-width: 767px) {
    .col-1,
    .col-2 {
      width: 100%;
      padding-left: 0;
    }
  }
}

div.next-post,
div.end-post,
p.end-post {
  // width: 100%;
  // margin-top: 100vh;
  padding-top: 3px;
  font-size: 14px;
  line-height: 2em;
  a {
    display: block;
    padding-right: 10px;
    @include interWideMedium;
    font-size: 30px;
    line-height: 1em;
    text-decoration: none;
    color: #000;

    span {
      display: inline-block;
      transform: translateX(0);
      transition: transform 0.15s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    }

    &:hover span {
      transform: translateX(5px);
    }
  }
}

.next-post {
  @media screen and (max-width: 1024px) {
    display: none;
  }
}

// Themes
section,
div {
  .theme-reduce-top-padding {
    padding-top: 5vh;
  }
}

// Reveal
// @media screen and (min-width: 1025px) {
.reveal {
  &.module-copy {
    .col-1,
    .col-2 {
      opacity: 0;
      transform: translateY(100px);
      transition: opacity 1s cubic-bezier(0.25, 0.46, 0.45, 0.94),
        transform 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }

    .col-2 {
      transition-delay: 0.2s;
    }
  }

  &.module-image,
  &.module-video,
  &.module-code {
    .media {
      opacity: 0;
      transition: opacity 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }

    .info {
      perspective: 250px;
      perspective-origin: left top;
    }

    .title,
    .description {
      opacity: 0;
      // transform: translateY(20px);
      // transition: opacity 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.25s, transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.25s;
      transform: rotate3d(0, 1, 0, 35deg) translateZ(0);
      transform-origin: left center;
      transition: opacity 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.25s,
        transform 0.5s 0.25s;
    }

    .description {
      transition-delay: 0.35s;
    }
  }

  &.module-gallery {
    .media {
      opacity: 0;
      transition: opacity 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }

    .info {
      perspective: 250px;
      perspective-origin: left top;
    }

    .pagination,
    .title,
    .description {
      opacity: 0;
      // transform: translateY(20px);
      // transition: opacity 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.25s, transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.25s;
      transform: rotate3d(0, 1, 0, 35deg) translateZ(0);
      transform-origin: left center;
      transition: opacity 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.25s,
        transform 0.5s 0.25s;
    }

    .title {
      transition-delay: 0.35s;
    }

    .description {
      transition-delay: 0.45s;
    }
  }

  &.module-quote {
    perspective: 100vw;
    perspective-origin: left center;

    blockquote {
      opacity: 0;
      // transform: translateX(10vw);
      // transition: opacity 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94), transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
      transform: rotate3d(0, 1, 0, 25deg) translateZ(0);
      transform-origin: left top;
      transition: opacity 0.75s cubic-bezier(0.25, 0.46, 0.45, 0.94),
        transform 0.75s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }

    .attribution {
      display: block;
      opacity: 0;
      // transform: translateY(20px);
      // transition: opacity 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.25s, transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.25s;
      transform: rotate3d(0, 1, 0, 35deg) translateZ(0);
      transform-origin: left top;
      transition: opacity 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.25s,
        transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.25s;
    }
  }

  &.flex-3 {
    opacity: 0;
    transition: opacity 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
  }

  &.reveal-show {
    &.module-copy {
      .col-1,
      .col-2 {
        opacity: 1;
        transform: translateY(0);
      }
    }

    &.module-image,
    &.module-video,
    &.module-code {
      .media {
        opacity: 1;
      }

      .title,
      .description {
        opacity: 1;
        // transform: translateY(0);
        transform: rotate3d(0, 1, 0, 0deg) translateZ(0);
      }
    }

    &.module-gallery {
      .media {
        opacity: 1;
      }

      .pagination,
      .title,
      .description {
        opacity: 1;
        // transform: translateY(0);
        transform: rotate3d(0, 1, 0, 0deg) translateZ(0);
      }
    }

    &.module-quote {
      blockquote {
        opacity: 1;
        transform: rotate3d(0, 1, 0, 0deg) translateZ(0);
      }

      .attribution {
        opacity: 1;
        transform: translateY(0);
      }
    }

    &.flex-3 {
      opacity: 1;
    }
  }
}
// }
