.home-page {
  // Stage
  .stagePerspective {
    position: relative;
    width: 100%;
    perspective: 100vw;
    // will-change: transform;
  }

  &:not(.isMobile) {
    .stagePerspective {
      height: 100vh;
      overflow-x: hidden;
      overflow-y: auto;
    }
  }

  .stageContainer {
    position: relative;
    width: 100%;
    transform: translateZ(0);
    transform-style: preserve-3d;
  }

  .stage {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    padding: 5vw 5vw calc(7.5vw + 67px) 0;
    transform-style: preserve-3d;
    opacity: 1;
    transition: opacity 1s;
    // will-change: transform;
  }

  &.safari .stage {
    position: absolute;
    padding-bottom: 0;
  }

  &.isMobile {
    .stage {
      position: static;
    }
  }

  // Projects
  .projects {
    position: relative;
    margin: 0;
    padding-left: 0;
    list-style: none;
    text-align: right;
    width: 95%;
    transform-style: preserve-3d;
  }

  .projectsLi {
    cursor: pointer;
    /*-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		transform: rotate3d(0, 1, 0, var(--rotateY)) translateZ(0);*/
    transform-style: preserve-3d;
  }

  .projectContainer {
    transform: rotate3d(0, 1, 0, -45deg) translateZ(0) scale(1);
    transform-origin: right center;
    transform-style: preserve-3d;
    will-change: transform;

    @media screen and (min-width: 768px) {
      transition: transform 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
  }

  &:not(.intro) .projectsLi:hover .projectContainer,
  &:not(.intro) .projectsLi.isHovered .projectContainer {
    transform: rotate3d(0, 1, 0, -35deg) translateZ(0) scale(1);
    transition-duration: 1s;
  }

  .projectsLi.isSelected .projectContainer,
  .projectsLi.isSelected:hover .projectContainer {
    transform: rotate3d(0, 1, 0, 0deg) translateZ(0) scale(1);

    @media screen and (max-width: 767px) {
      transition: transform 1.5s cubic-bezier(0.075, 0.82, 0.165, 1),
        opacity 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    a {
      @supports (
        (-webkit-text-stroke: 3px #151515) or (text-stroke: 3px #151515)
      ) {
        -webkit-text-stroke: 0px #151515;
        text-stroke: 0px #151515;
      }
    }
  }

  &:not(.intro) .projects.isHovering .projectsLi:hover a,
  &:not(.intro) .projects.isHovering .projectsLi.isHovered a {
    transition-duration: 0.3s;

    @supports (
      (-webkit-text-stroke: 3px #151515) or (text-stroke: 3px #151515)
    ) {
      color: transparent;
    }
  }

  .projects a {
    position: relative;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    @include interWideSuper;
    font-size: 9.6vw;
    letter-spacing: 0.02em;
    line-height: 0.9em;
    /*-webkit-hyphens: auto;
		-ms-hyphens: auto;
		hyphens: auto;*/

    transition: color 0.5s, opacity 0.5s;

    @supports ((-webkit-text-stroke: 3px #000) or (text-stroke: 3px #000)) {
      -webkit-text-stroke: 3px #000;
      text-stroke: 3px #000;
    }
  }

  // &:not(.aboutShow) .uiHover .projects a {
  // 	@supports ((-webkit-text-stroke: 3px #000) or (text-stroke: 3px #000)) {
  // 		color: transparent;
  // 	}
  // }
  .projects a:before {
    content: attr(data-info);
    white-space: pre;
    position: absolute;
    top: 3.7em;
    left: -250px;
    width: 200px;
    text-align: right;
    font-size: 0.7vw;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1em;
    color: #000 !important;
    pointer-events: none;
    transition: none;
    @supports ((-webkit-text-stroke: 3px #000) or (text-stroke: 3px #000)) {
      -webkit-text-stroke: transparent;
      text-stroke: transparent;
    }
  }

  .projects a:after {
    content: "";
    position: absolute;
    top: 0.23em;
    left: -0.3em;
    width: 2px;
    height: 0.85em;
    background-color: #000;
    transform: rotateZ(25deg);
    pointer-events: none;
  }

  @media screen and (min-width: 768px) and (max-width: 1320px) {
    .projects a {
      font-size: 7.4vw;

      @supports ((-webkit-text-stroke: 2px #000) or (text-stroke: 2px #000)) {
        -webkit-text-stroke-width: 2px;
        text-stroke-width: 2px;
      }
    }

    .projects a:after {
      width: 2px;
    }
  }

  @media screen and (max-width: 767px) {
    overflow-x: hidden;

    .stagePerspective {
      // -webkit-overflow-scrolling: touch;
      perspective: 400vw;
    }

    .stage {
      padding-top: 17vw;
      padding-bottom: 17vw;
    }

    .projects a {
      @supports ((-webkit-text-stroke: 1px #000) or (text-stroke: 1px #000)) {
        -webkit-text-stroke-width: 1px;
        text-stroke-width: 1px;
      }
    }

    .projects a:after {
      width: 1px;
    }
  }

  @media screen and (max-width: 420px) {
    .stage {
      padding-top: 25vw;
    }

    .projects a:before {
      top: 10px;
      left: -220px;
      font-size: 7px;
    }

    .projects a:after {
      top: 10px;
      left: -15px;
    }

    .projects {
      width: 100%;
    }

    .projects a {
      font-size: 13vw;
      letter-spacing: normal;
    }
  }

  // Intro
  &:not(.isMobile).intro {
    pointer-events: none;
  }

  &.intro .stage {
    transform: translate3d(0, -110%, 0);
    animation: introStage 2s forwards;
  }

  &:not(.isMobile).intro .stage {
    position: absolute;
  }

  &.intro .projectContainer {
    visibility: hidden;
    // opacity: 0;
    // transform: rotate3d(0, 1, 0, -100deg) translateZ(0) scale(1);
    transition: none;
    animation: introProjectContainer 2s forwards;
  }

  @for $i from 1 through 8 {
    &.intro .projectsLi:nth-child(#{$i}) .projectContainer {
      animation-delay: 1s - ($i / 10);
    }
  }

  @keyframes introStage {
    0% {
      transform: translate3d(0, -110%, 0);
    }
    100% {
      transform: translate3d(0, 0, 0);
    }
  }

  @keyframes introProjectContainer {
    0% {
      visibility: visible;
      opacity: 0;
      transform: rotate3d(0, 1, 0, -100deg) translateZ(0) scale(1);
    }
    100% {
      visibility: visible;
      opacity: 1;
      transform: rotate3d(0, 1, 0, -45deg) translateZ(0) scale(1);
    }
  }

  // Outro
  &.outro {
    &:not(.isMobile) {
      pointer-events: none;
    }

    .stageContainer {
      transform: translate3d(0, 0, 0);
      animation: outro 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) 1.15s forwards;
    }

    .projectContainer {
      transition: transform 1.5s cubic-bezier(0.075, 0.82, 0.165, 1),
        opacity 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    .projectsLi:not(.isSelected) .projectContainer {
      transform: rotate3d(0, 1, 0, -114deg) translateZ(0) scale(1);
      opacity: 0;
      transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
      transition-duration: 0.25s;
    }

    @for $i from 1 through 9 {
      .projectsLi:not(.isSelected):nth-child(#{$i}) .projectContainer {
        transition-delay: 1s - ($i / 10);
      }
    }

    .projectsLi.isSelected .projectContainer,
    .projectsLi.isSelected:hover .projectContainer {
      transform: rotate3d(0, 1, 0, 0deg) translateZ(0) scale(0.7);
      opacity: 0;
      transition-duration: 0.5s;
      transition-delay: 1s;
    }

    .projectsLi.isSelected .projectContainer a {
      transition-delay: 1.15s;
    }

    .projectsLi.isSelected .projectContainer a {
      &:before,
      &:after {
        opacity: 0;
        transition: opacity 0.2s ease-out 0.15s;
      }
    }

    @keyframes outro {
      0% {
        transform: translate3d(0, 0, 0);
      }
      100% {
        transform: translate3d(0, -25vh, 0);
      }
    }
  }

  // Parallax Perspective
  .parallaxPerspective {
    perspective-origin: 50% var(--perspective-origin-y);
    will-change: perspective-origin;
  }
}
