body.loading {
  .readMe {
    opacity: 0;
  }
}

.readMe-page {
  &:not(.aboutShow) .ui .links .readMe-li:after {
    transform: scaleX(1) translateZ(0);
    transition-delay: 0.25s;
  }

  .readMe {
    position: relative;
    width: 100%;
    opacity: 1;
    transition: opacity 2s ease-in-out;

    article:nth-child(odd) {
      justify-content: flex-end;

      .left {
        right: 95vw;
      }

      .center {
        left: 10vw;
      }

      .right {
        left: 90vw;
      }
    }

    article:nth-child(even) {
      justify-content: flex-start;

      .left {
        bottom: auto;
        top: calc(108px + 15vh);
        right: 74vw;
      }

      .center {
        left: 55vw;
      }

      .right {
        left: 95vw;
      }
    }

    .post {
      display: flex;
      align-items: center;
      position: relative;
      z-index: 0;
      height: 100vh;
      padding-left: 10vw;
      padding-right: 10vw;
      overflow: hidden;
    }

    .info {
      display: flex;
      align-content: center;
      justify-content: center;
      flex-wrap: wrap;
      position: relative;
      z-index: 2;
      width: 50%;
      height: 100%;
      text-align: center;
    }

    .date {
      width: 100%;
      margin-bottom: 0;
      @include interWideMedium;
      font-size: 10px;
      text-transform: uppercase;
    }

    .title {
      width: 100%;
      margin-top: 70px;
      margin-bottom: 80px;
      @include interWideMedium;
      font-size: 60px;
    }

    .cta {
      display: flex;
      align-content: center;
      justify-content: center;
      flex-wrap: wrap;
      position: relative;
      @include Intern;
      font-size: 14px;
      font-weight: 500;
      color: #000;
      text-decoration: none;

      &:hover .read-more:after {
        transform: scaleX(1);
      }
    }

    .read-more:after {
      content: "";
      position: absolute;
      bottom: -3px;
      left: 0;
      width: 100%;
      border-bottom: 2px solid #000;
      transform: scaleX(0);
      transition: transform 0.15s ease-in-out;
    }

    .images {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding-bottom: 130px;
    }

    .image-container {
      user-select: none;
      position: absolute;
    }

    .image-container img {
      display: block;
      height: calc(100vh - (106px + 15vh) - 130px);
      transition:
        width 0.5s ease-in-out,
        height 0.5s ease-in-out;
    }

    .center {
      z-index: 1;
    }

    // Reveal
    .reveal {
      .date,
      .title,
      .read-more {
        opacity: 0;
        transform: translateY(50px);
        transition:
          opacity 0.5s ease-out 0.3s,
          transform 0.5s ease-out 0.3s;
      }

      .title {
        transition-delay: 0.4s;
      }

      .read-more {
        transition-delay: 0.5s;
      }

      &.reveal-show {
        .date,
        .title,
        .read-more {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }

    // Responsive
    @media screen and (min-width: 769px) {
      .image-container {
        bottom: 160px;
      }
    }

    @media screen and (max-width: 1024px) {
      .title {
        font-size: 50px;
      }
    }

    @media screen and (max-width: 768px) {
      .info {
        width: 100%;
      }

      .date {
        font-size: 12px;
      }

      .title {
        font-size: 32px;
      }

      .read-more {
        font-size: 16px;

        &:after {
          transform: scaleX(1);
        }
      }

      .images {
        display: flex;
        align-items: center;
        padding-bottom: 0;
        opacity: 0.5;
      }

      article:nth-child(odd) {
        .left {
          right: 98vw;
        }

        .center {
          left: 17vw;
        }

        .right {
          left: 77vw;
        }
      }

      article:nth-child(even) {
        .left {
          top: auto;
          right: 80vw;
        }

        .center {
          left: 22vw;
        }

        .right {
          left: 95vw;
        }
      }

      .center {
        width: 75%;
      }
    }

    @media screen and (max-height: 420px) {
      .image-container img {
        height: 80vh;
      }
    }
  }
}
