.readMe-post-page {
  &:not(.aboutShow) .ui .links .readMe-li:after {
    transform: scaleX(1) translateZ(0);
    transition-delay: 0.25s;
  }

  .post {
    .article {
      margin-top: calc(108px + 10vh);
      margin-bottom: calc(128px + 10vh);
    }

    // Responsive
    @media screen and (max-width: 767px) {
      .article {
        margin: calc(71px + 10vh) 30px 10vw;
      }

      .article > .module-copy-image {
        padding-top: 0;
      }
    }
  }

  .margin-bottom-0 {
    margin-bottom: 0;
  }
}
