<section class="about">
  <div>
    <!-- Button trigger -->
    <button type="button" aria-label="Back" class="btn-back" (click)="onBackButtonClick()">
      <span class="btn-box">
        <span class="icon-close"></span>
      </span>
    </button>
  </div>
    <div class="container">
      <!-- Leftmost column -->
      <div class="left">
        <h2 class="heading">
          Specializing in refined digital web experiences with a focus on
          animated, responsive, and interactive &nbsp;content.
        </h2>
        <p>
          Partnering with agencies and brands that value design and
          development &nbsp;integrity.
        </p>
        <p>
          Delivering highly executed front-end user experiences by paying
          close attention to the nuances of design, optimization, and
          &nbsp;performance.
        </p>
      </div>

      <div class="right">
        <!-- Middle column's contents -->
        <div class="col-1">
          <div class="info">
            <h5 class="heading">Project Background</h5>
            <h6 class="title">UTEP &mdash;</h6>
            <p>El Paso, Texas</p>
            <h5 class="heading">xxx</h5>
            <h6 class="title">Technologies Used &mdash;</h6>
            <ul>
              <li>Angular</li>
              <li>Python</li>
              <li>Javascript/Typescript</li>
              <li>Google Firebase</li>
            </ul>
          </div>
        </div>

        <!-- Rightmost column's contents -->
        <div class="col-2">
          <h5 class="heading">Team 7</h5>
          <div class="info">
            <h6 class="title">Alan Ochoa &mdash;</h6>
            <ul>
              <li>AAA</li>
            </ul>
          </div>

          <div class="info">
            <h6 class="title">Isabella Gaytan &mdash;</h6>
            <ul>
              <li>
                AAAAAA.,<br />
                AAAAAAAA<br />
              </li>
            </ul>
          </div>

          <div class="info">
            <h6 class="title">A &mdash;</h6>
            <ul>
              <li>AD</li>
            </ul>
          </div>

          <div class="info">
            <h6 class="title">ADA &mdash;</h6>
            <ul>
              <li>A, UI, UX, Innovation</li>
            </ul>
          </div>

          <div class="info">
            <h6 class="title">CSS &mdash;</h6>
            <ul>
              <li>A</li>
            </ul>
          </div>

          <div class="info">
            <h6 class="title">A &mdash;</h6>
            <ul>
              <li>List</li>
            </ul>
          </div>

          <div class="info">
            <h6 class="title">AAA &mdash;</h6>
            <ul>
              <li>A</li>
            </ul>
          </div>

          <div class="info">
            <h6 class="title">Aaaaaaaa &mdash;</h6>
            <ul>
              <li>H</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
