<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MyPlace</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta
      name="description"
      content="A digital platform where users can create personalized profiles
      to express themselves and connect with others.Users have the ability to
      customize their profiles, post updates, photos, and other multimedia,
      and set profile songs or videos. They can write and display personal
      blogs, manage their friend and follower lists, and engage in conversations
      through comments on their content and the content of others. The platform
      also supports an integrated search system, enabling users to find other
      users, blogs, or specific content.Admins on 'MyPlace' manage user-generated
      content, oversee platform security, handle user reports, and ensure overall
      platform performance.To enhance user interaction, a notification system is
      in place, sending real-time updates about various activities like new friend
      requests, comments, and content shares."
    />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,
                minimum-scale=1,maximum-scale=5"
    />
    <meta property="og:type" content="website" />
    <meta
      property="og:url"
      content="https://github.com/UTEPCSSoftConst-Team7/Team7_myPlace"
    />
    <meta property="og:title" content="Software Construction: Team 7" />
    <meta
      property="og:description"
      content=" TSP based team consisting of 7 members. Attempting to create,
                structure, and facilitate a consistent digital web experience
                with a focus on responsive, and interactive content."
    />
    <link rel="icon" type="image/png" sizes="32x32" href="" />
    <link rel="icon" type="image/png" sizes="16x16" href="" />
  </head>

  <!-- Bottom Left Project Info title: MyPlace -->

  <body class="home-page ultra-mode home-page-js">
    <header class="ui">
      <a
        class="logo"
        href="https://github.com/UTEPCSSoftConst-Team7/Team7_myPlace"
      >
        <span class="slideUp">
          <span>MyPlace</span>
        </span>
        <span class="slideUp">
          <span> Team 7 </span>
        </span>
      </a>

      <!-- Mobile Nav Button -->
      <button class="mobile-nav" type="button" role="button" aria-label="Menu">
        <span class="mobile-nav-box">
          <span class="mobile-nav-inner"></span
        ></span>
      </button>

      <div class="info">
        <div class="left">
          <!-- Team Name Listing -->
          <div class="contact">
            <ul>
              <li>Alan Ochoa</li>
              <li>Didi Guillen</li>
            </ul>
            <ul>
              <li>Nicholas Jara</li>
              <li>Michelle Diaz</li>
            </ul>
            <ul>
              <li>Isabella Gaytan</li>
              <li>Thomas Sosa</li>
            </ul>
            <ul>
              <li>Esai Flores</li>
              <li>Dr. Bhanukiran Gurijala</li>
            </ul>
          </div>

          <nav class="links">
            <!-- Two links in column beside team listings -->
            <ul>
              <li class="about-li">
                <button class="link" aria-label="About">
                  <span>01</span>
                  <strong>About&mdash;us</strong>
                </button>
              </li>
              <li class="readMe-li">
                <a href="">
                  <span>02</span>
                  <strong>ReadMe</strong>
                </a>
                <!--
                Script to generate readMe page


                -->
              </li>
            </ul>
          </nav>
        </div>

        <!-- Bottom right section of index page -->
        <div class="right">
          <!-- Admins Page hotlink -->
          <div class="credits">
            <div class="credit-link">
              <a class="no-barba" href="" target="_blank" rel="noopener">
                <strong>[ADMIN]</strong>
              </a>
            </div>
          </div>

          <!--  Page Color Circle Selector bottom Right Corner
                @TODO: Add the script for the color selector to appear
          -->
          <!--  Page Color Circle Selector bottom Right Corner -->
          <div class="color-mode">
            <div class="dot"></div>
            <button class="night-mode" aria-label="Night Color Mode"></button>
            <button class="light-mode" aria-label="Light Color Mode"></button>
            <button class="ultra-mode" aria-label="Ultra Color Mode"></button>
            <div class="circle"></div>
          </div>
        </div>
      </div>

      <div class="copyright">
        <span class="slideUp">
          <span>Software Construction | CS4374 | Fall 2023 </span>
        </span>
      </div>
    </header>

    <!-- Curtain -->
    <div
      class="curtain"
      style="
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 1;
        background-color: #f2f2f2;
      "
    ></div>

    <!--
      Home Page's content
      @TODO: Implement and create home screen components with animation logic
    --->
    <div id="barba-wrapper">
      <div class="barba-container" data-namespace="home-page">
        <div class="barba-transition-container">
          <div
            class="stagePerspective parallaxPerspective perspective-origin-tt-bb"
          >
            <div class="stageContainer" style="opacity: 0">
              <main class="stage">
                <ul class="projects">
                  <li class="projectsLi" data-barba="HomeTransition">
                    <div class="projectContainer">
                      <a href="" data-info="Dash" data-barba="HomeTransition">
                        Home
                      </a>
                    </div>
                  </li>
                  <li class="projectsLi" data-barba="HomeTransition">
                    <div class="projectContainer">
                      <a
                        href="./"
                        data-info="Settings"
                        data-barba="HomeTransition"
                      >
                        Account
                      </a>
                    </div>
                  </li>

                  <li class="projectsLi" data-barba="HomeTransition">
                    <div class="projectContainer">
                      <a
                        href="./"
                        data-info="Search"
                        data-barba="HomeTransition"
                        >Browse</a
                      >
                    </div>
                  </li>

                  <li class="projectsLi" data-barba="HomeTransition">
                    <div class="projectContainer">
                      <a href="./" data-info="View" data-barba="HomeTransition"
                        >Customize</a
                      >
                    </div>
                  </li>

                  <li class="projectsLi" data-barba="HomeTransition">
                    <div class="projectContainer">
                      <a
                        href="./"
                        data-info="Post + Followers"
                        data-barba="HomeTransition"
                      >
                        Manage
                      </a>
                    </div>
                  </li>

                  <li class="projectsLi" data-barba="HomeTransition">
                    <div class="projectContainer">
                      <a
                        href="./"
                        data-info="Discover"
                        data-barba="HomeTransition"
                      >
                        Connect
                      </a>
                    </div>
                  </li>

                  <li class="projectsLi" data-barba="HomeTransition">
                    <div class="projectContainer">
                      <a href="./" data-info="API" data-barba="HomeTransition">
                        Services
                      </a>
                    </div>
                  </li>

                  <li class="projectsLi" data-barba="HomeTransition">
                    <div class="projectContainer">
                      <a href="./" data-info="Docs" data-barba="HomeTransition">
                        ReadMe
                      </a>
                    </div>
                  </li>
                </ul>
              </main>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- About us section's content
    @TODO: Implement new component for the about us page
    @TODO Team and project summary and description
    @TODO list technologies used on project
    --->
    <section class="about">
      <!-- Button trigger -->
      <button class="btn-back" type="button" aria-label="Back">
        <span class="btn-box">
          <span class="icon-close"></span>
        </span>
      </button>
      <div class="container">
        <!-- Leftmost column -->
        <div class="left">
          <h2 class="heading">
            Specializing in refined digital web experiences with a focus on
            animated, responsive, and interactive &nbsp;content.
          </h2>
          <p>
            Partnering with agencies and brands that value design and
            development &nbsp;integrity.
          </p>
          <p>
            Delivering highly executed front-end user experiences by paying
            close attention to the nuances of design, optimization, and
            &nbsp;performance.
          </p>
        </div>

        <div class="right">
          <!-- Middle column's contents -->
          <div class="col-1">
            <div class="info">
              <h5 class="heading">Project Background</h5>
              <h6 class="title">UTEP &mdash;</h6>
              <p>El Paso, Texas</p>
              <h5 class="heading">xxx</h5>
              <h6 class="title">Technologies Used &mdash;</h6>
              <ul>
                <li>Angular</li>
                <li>Python</li>
                <li>Javascript/Typescript</li>
                <li>Google Firebase</li>
              </ul>
            </div>
          </div>

          <!-- Rightmost column's contents -->
          <div class="col-2">
            <h5 class="heading">A</h5>
            <div class="info">
              <h6 class="title">AA &mdash;</h6>
              <ul>
                <li>AAA</li>
              </ul>
            </div>

            <div class="info">
              <h6 class="title">AAAAA &mdash;</h6>
              <ul>
                <li>
                  AAAAAA.,<br />
                  AAAAAAAA<br />
                  AAAAAAAAAA
                </li>
              </ul>
            </div>

            <div class="info">
              <h6 class="title">A &mdash;</h6>
              <ul>
                <li>AD</li>
              </ul>
            </div>

            <div class="info">
              <h6 class="title">ADA &mdash;</h6>
              <ul>
                <li>A, UI, UX, Innovation</li>
              </ul>
            </div>

            <div class="info">
              <h6 class="title">CSS &mdash;</h6>
              <ul>
                <li>A</li>
              </ul>
            </div>

            <div class="info">
              <h6 class="title">A &mdash;</h6>
              <ul>
                <li>List</li>
              </ul>
            </div>

            <div class="info">
              <h6 class="title">AAA &mdash;</h6>
              <ul>
                <li>A</li>
              </ul>
            </div>

            <div class="info">
              <h6 class="title">Aaaaaaaa &mdash;</h6>
              <ul>
                <li>H</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>

    <noscript id="deferred-styles">
      <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
    </noscript>

    <script src="./src/assets/js/barba.min.js"></script>
    <script src="./src/assets/js/appMenu.js"></script>
    <script>
      var loadDeferredStyles = function () {
        var addStylesNode = document.getElementById("deferred-styles");
        var replacement = document.createElement("div");
        replacement.innerHTML = addStylesNode.textContent;
        document.body.appendChild(replacement);
        addStylesNode.parentElement.removeChild(addStylesNode);
      };
      var raf =
        window.requestAnimationFrame ||
        window.mozRequestAnimationFrame ||
        window.webkitRequestAnimationFrame ||
        window.msRequestAnimationFrame;
      if (raf)
        raf(function () {
          window.setTimeout(loadDeferredStyles, 0);
        });
      else window.addEventListener("load", loadDeferredStyles);
    </script>
  </body>
</html>
