
.admin-page.loading .case-study .hero:after {
  -webkit-animation: scaleDown 0.5s cubic-bezier(0.755, 0.05, 0.855, 0.06) forwards;
  animation: scaleDown 0.5s cubic-bezier(0.755, 0.05, 0.855, 0.06) forwards;
}

@-webkit-keyframes scaleDown {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }

  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}

@keyframes scaleDown {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }

  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}

.admin-page.loading .case-study .hero .title {
  -webkit-animation: fadeOut 0.5s forwards;
  animation: fadeOut 0.5s forwards;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.admin-page:not(.loading) .case-study .hero:after {
  -webkit-animation: scaleUp 0.7s cubic-bezier(0.755, 0.05, 0.855, 0.06) 0.3s forwards;
  animation: scaleUp 0.7s cubic-bezier(0.755, 0.05, 0.855, 0.06) 0.3s forwards;
}

.admin-page:not(.loading) .case-study .hero .title {
  -webkit-animation: fadeIn 1s forwards;
  animation: fadeIn 1s forwards;
}

@media screen and (max-width: 767px) {
  .admin-page:not(.loading):not(.first-load) .case-study .hero:after {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
  }

  .admin-page:not(.loading):not(.first-load) .case-study .hero .title {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
  }
}

.admin-page:not(.loading).safari:not(.first-load) .case-study .hero:after {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.admin-page:not(.loading).safari:not(.first-load) .case-study .hero .title {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.admin-page .case-study .hero {
  position: relative;
  width: 100%;
  height: calc(85vh - 236px);
  margin: calc(108px + 12.5vh) 0 calc(128px + 2.5vh);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

@media screen and (max-width: 767px) {
  .admin-page .case-study .hero {
    -webkit-transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
}

.admin-page .case-study .hero:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100vw;
  height: 100%;
  background-color: #f2f2f2;
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transform-origin: center top;
  transform-origin: center top;
}

@-webkit-keyframes scaleUp {
  0% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }

  100% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }
}

@keyframes scaleUp {
  0% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }

  100% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }
}

.admin-page .case-study .hero .title-container {
  position: relative;
  z-index: 1;
  max-width: 1500px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
}

.admin-page .case-study .hero .title {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transform: translateY(calc(-8px + -3.7vh));
  transform: translateY(calc(-8px + -3.7vh));
  text-align: right;
  text-transform: uppercase;
  font-family: "Inter";
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  font-size: 7.6vw;
  letter-spacing: 0.02em;
  line-height: 0.9em;
  opacity: 0;
}

@supports (-webkit-text-stroke: 2px #000) or (text-stroke: 2px #000) {
  .admin-page .case-study .hero .title {
    color: rgba(242, 242, 242, 0.01);
    -webkit-text-stroke: 2px #000;
  }
}

.admin-page .case-study .intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 10vw;
  max-width: calc(1440px + 20vw);
  margin-left: auto;
  margin-right: auto;
}

.admin-page .case-study .intro .summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

.admin-page .case-study .intro .col-1,
.admin-page .case-study .intro .col-2 {
  width: 100%;
  padding-right: 30px;
  font-size: 18px;
  line-height: 1.6em;
}

.admin-page .case-study .intro .col-1 strong {
  font-size: 30px;
  line-height: 1.06em;
}

.admin-page .case-study .intro .credits {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 170px;
  margin-left: 30px;
}

.admin-page .case-study .intro .credits h5 {
  margin-bottom: 10px;
}

.admin-page .case-study .intro .credits h6 {
  font-weight: 300;
}

.admin-page .case-study .intro .credits a {
  display: block;
  width: 100%;
  color: #000;
  text-decoration: none;
}

.admin-page .case-study .intro .credits span {
  display: block;
}

.admin-page .case-study .intro .credits .title {
  font-weight: 500;
  margin-bottom: 5px;
}

.admin-page .case-study .intro .credits span:not(.title) {
  margin-bottom: 20px;
}

.admin-page .case-study .intro .credits span:last-of-type {
  margin-bottom: 0;
}

@media screen and (min-width: 1025px) {

  .admin-page .case-study .reveal.intro .credits,
  .admin-page .case-study .reveal.intro .col-1,
  .admin-page .case-study .reveal.intro .col-2 {
    opacity: 0;
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    -webkit-transition: opacity 1s cubic-bezier(0.25, 0.46, 0.45, 0.94),
      -webkit-transform 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: opacity 1s cubic-bezier(0.25, 0.46, 0.45, 0.94),
      -webkit-transform 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: opacity 1s cubic-bezier(0.25, 0.46, 0.45, 0.94),
      transform 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: opacity 1s cubic-bezier(0.25, 0.46, 0.45, 0.94),
      transform 1s cubic-bezier(0.25, 0.46, 0.45, 0.94),
      -webkit-transform 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }

  .admin-page .case-study .reveal.intro .col-2 {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
  }

  .admin-page .case-study .reveal.intro .credits {
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
  }

  .admin-page .case-study .reveal.reveal-show.hero:after {
    opacity: 0;
  }

  .admin-page .case-study .reveal.reveal-show.intro .credits,
  .admin-page .case-study .reveal.reveal-show.intro .col-1,
  .admin-page .case-study .reveal.reveal-show.intro .col-2 {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@media screen and (max-height: 768px) {
  .admin-page .case-study .hero {
    min-height: 418px;
  }
}

@media screen and (min-width: 1440px) {
  .admin-page .case-study .hero {
    margin-left: auto;
    margin-right: auto;
  }

  .admin-page .case-study .hero .title {
    font-size: 94px;
  }
}

@media screen and (max-width: 1200px) {
  .admin-page .case-study .intro .summary {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .admin-page .case-study .intro .col-2 {
    margin-top: 1em;
  }

  .admin-page .case-study .intro .credits span:not(.title) {
    margin-top: 5px;
  }
}

@media screen and (max-width: 1024px) {
  @supports (-webkit-text-stroke: 0.03em #000) or (text-stroke: 0.03em #000) {
    .admin-page .case-study .hero .title {
      -webkit-text-stroke: 0.03em #000;
    }
  }
}

@media screen and (max-width: 767px) {
  .admin-page .case-study .hero {
    height: calc(90vh - 5vw - 71px);
    max-height: 512px;
    margin: calc(71px + 10vh) 0 5vw;
  }

  .admin-page .case-study .hero .title {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
    font-size: 40px;
  }

  .admin-page .case-study .intro {
    padding-top: 5vh;
    padding-left: 30px;
    padding-right: 30px;
  }

  .admin-page .case-study .intro .col-1,
  .admin-page .case-study .intro .col-2 {
    font-size: 18px;
    line-height: 1.4em;
  }

  .admin-page .case-study .intro .col-1 strong {
    font-size: 20px;
  }

  .admin-page .case-study .intro .col-2 {
    margin-top: 5vh;
  }
}

@media screen and (max-width: 567px) {
  .admin-page .case-study .intro {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .admin-page .case-study .intro .credits {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    margin-left: 0;
  }

  .admin-page .case-study .intro .summary {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    margin-top: 15vw;
  }
}

.admin-page .push .hero {
  background-position: center center;
}
