body:not(.aboutShow) .about {
  pointer-events: none;
}

@media screen and (min-width: 768px) {
  body:not(.aboutShow) .about .container {
    -webkit-transform: translate3d(0, 30px, 0);
    transform: translate3d(0, 30px, 0);
  }
}

body.aboutShow .ui .links .about-li:after {
  -webkit-transform: scaleX(1) translateZ(0);
  transform: scaleX(1) translateZ(0);
  -webkit-transition-delay: 0.25s;
  transition-delay: 0.25s;
}

body.aboutShow .ui .contact,
body.aboutShow .ui .right {
  opacity: 0 !important;
}

body.aboutShow .about,
body.aboutShow .about .container {
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
}

@media screen and (min-width: 768px) {
  body.aboutShow .about,
  body.aboutShow .about .container {
    -webkit-transition-delay: 0.25s;
    transition-delay: 0.25s;
  }
}

body.aboutShow .about {
  opacity: 1;
}

body.aboutShow .btn-back {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

body.aboutShow .mobile-nav-inner:before {
  -webkit-transform: translate3d(-7px, 2px, 0) rotate(-45deg) scale(0.6, 1);
  transform: translate3d(-7px, 2px, 0) rotate(-45deg) scale(0.6, 1);
}

body.aboutShow .mobile-nav-inner:after {
  -webkit-transform: translate3d(-7px, -2px, 0) rotate(45deg) scale(0.6, 1);
  transform: translate3d(-7px, -2px, 0) rotate(45deg) scale(0.6, 1);
}

.about {
  position: fixed;

  top: 0;

  left: 0;

  z-index: 1;

  width: 100%;

  height: 100%;

  opacity: 0;

  -webkit-transition: opacity 0.5s 0s;

  transition: opacity 0.5s 0s;
}

.about:before {
  content: "";

  position: fixed;

  top: 0;

  left: 0;

  z-index: -1;

  width: 100%;

  height: 100%;

  background-color: rgba(242, 242, 242, 0.95);
}

.about .container {
  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;

  -webkit-box-pack: justify;

  -ms-flex-pack: justify;

  justify-content: space-between;

  width: 100%;

  max-width: calc(1440px + 10vw);

  height: calc(100vh - (106px + 15vh));

  overflow-x: hidden;

  overflow-y: auto;

  -webkit-overflow-scrolling: touch;

  margin: calc(106px + 15vh) auto calc(107px + 5vh);

  padding-left: 5vw;

  padding-right: 5vw;

  -webkit-transform: translate3d(0, 0, 0);

  transform: translate3d(0, 0, 0);

  -webkit-transition: -webkit-transform 0.5s
    cubic-bezier(0.755, 0.05, 0.855, 0.06) 0s;

  transition: -webkit-transform 0.5s cubic-bezier(0.755, 0.05, 0.855, 0.06) 0s;

  transition: transform 0.5s cubic-bezier(0.755, 0.05, 0.855, 0.06) 0s;

  transition: transform 0.5s cubic-bezier(0.755, 0.05, 0.855, 0.06) 0s,
    -webkit-transform 0.5s cubic-bezier(0.755, 0.05, 0.855, 0.06) 0s;
}

.about .left {
  width: 55%;

  padding-right: 10%;

  font-size: 30px;

  line-height: 1.2em;

  color: #000;
}

.about .left p {
  font-size: 24px;
}

.about .left p:last-of-type {
  margin-bottom: 50px;
}

.about .right {
  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;

  -webkit-box-pack: justify;

  -ms-flex-pack: justify;

  justify-content: space-between;

  width: 45%;

  padding-top: 8px;

  color: #000;
}

.about .col-1,
.about .col-2 {
  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;

  -ms-flex-wrap: wrap;

  flex-wrap: wrap;

  -ms-flex-line-pack: start;

  align-content: flex-start;

  -webkit-box-pack: justify;

  -ms-flex-pack: justify;

  justify-content: space-between;

  width: 50%;

  margin-bottom: 30px;
}

.about .left .heading {
  line-height: 1.2em;
}

.about .right .heading {
  width: 100%;

  margin-bottom: 20px;
}

.about .heading:not(:first-of-type) {
  margin-top: 50px;
}

.about a {
  display: inline-block;

  margin-bottom: 5px;

  color: #fff;

  text-decoration: none;
}

.about p {
  width: 100%;

  margin-bottom: 5px;
}

.about .info {
  width: 100%;

  padding-bottom: 30px;
}

.about .info ul {
  width: 100%;

  padding-left: 0;
}

.about ul {
  margin-top: 0;

  margin-bottom: 0;

  padding-left: 0;

  list-style: none;
}

.about .title {
  margin-top: 0;

  margin-bottom: 5px;
}

.about li {
  line-height: 1.2em;

  margin-bottom: 5px;
}

.about li:last-of-type {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .about .right {
    position: relative;
  }
}

@media screen and (max-width: 1070px) {
  .about .left {
    width: 45%;
  }

  .about .right {
    width: 55%;
  }
}

@media screen and (max-width: 767px) {
  .about {
    z-index: 2;
  }

  .about .container {
    display: block;

    height: 100vh;

    margin-top: 0;

    margin-bottom: 0;
  }

  .about .left {
    width: 100%;

    max-width: 414px;

    padding-top: calc(71px + 10vw);

    padding-right: 0;
  }

  .about .left .heading {
    font-size: 24px;
  }

  .about .left p {
    font-size: 20px;

    line-height: 1.4em;
  }

  .about .right {
    -ms-flex-wrap: wrap;

    flex-wrap: wrap;

    width: 100%;

    padding: 0;
  }

  .about .col-1,
  .about .col-2 {
    width: 100%;
  }
}
