body.loading .readMe {
  opacity: 0;
}

.readMe-page:not(.aboutShow) .ui .links .readMe-li:after {
  -webkit-transform: scaleX(1) translateZ(0);
  transform: scaleX(1) translateZ(0);
  -webkit-transition-delay: 0.25s;
  transition-delay: 0.25s;
}

.readMe-page .readMe {
  position: relative;
  width: 100%;
  opacity: 1;
  -webkit-transition: opacity 2s ease-in-out;
  transition: opacity 2s ease-in-out;
}

.readMe-page .readMe article:nth-child(odd) {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.readMe-page .readMe article:nth-child(odd) .left {
  right: 95vw;
}

.readMe-page .readMe article:nth-child(odd) .center {
  left: 10vw;
}

.readMe-page .readMe article:nth-child(odd) .right {
  left: 90vw;
}

.readMe-page .readMe article:nth-child(even) {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.readMe-page .readMe article:nth-child(even) .left {
  bottom: auto;
  top: calc(108px + 15vh);
  right: 74vw;
}

.readMe-page .readMe article:nth-child(even) .center {
  left: 55vw;
}

.readMe-page .readMe article:nth-child(even) .right {
  left: 95vw;
}

.readMe-page .readMe .post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  z-index: 0;
  height: 100vh;
  padding-left: 10vw;
  padding-right: 10vw;
  overflow: hidden;
}

.readMe-page .readMe .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative;
  z-index: 2;
  width: 50%;
  height: 100%;
  text-align: center;
}

.readMe-page .readMe .date {
  width: 100%;
  margin-bottom: 0;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  font-size: 10px;
  text-transform: uppercase;
}

.readMe-page .readMe .title {
  width: 100%;
  margin-top: 70px;
  margin-bottom: 80px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  font-size: 60px;
}

.readMe-page .readMe .cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #000;
  text-decoration: none;
}

.readMe-page .readMe .cta:hover .read-more:after {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.readMe-page .readMe .read-more:after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  border-bottom: 2px solid #000;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.15s ease-in-out;
  transition: -webkit-transform 0.15s ease-in-out;
  transition: transform 0.15s ease-in-out;
  transition: transform 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out;
}

.readMe-page .readMe .images {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-bottom: 130px;
}

.readMe-page .readMe .image-container {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
}

.readMe-page .readMe .image-container img {
  display: block;
  height: calc(100vh - (106px + 15vh) - 130px);
  -webkit-transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
  transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
}

.readMe-page .readMe .center {
  z-index: 1;
}

.readMe-page .readMe .reveal .date,
.readMe-page .readMe .reveal .title,
.readMe-page .readMe .reveal .read-more {
  opacity: 0;
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: opacity 0.5s ease-out 0.3s,
    -webkit-transform 0.5s ease-out 0.3s;
  transition: opacity 0.5s ease-out 0.3s, -webkit-transform 0.5s ease-out 0.3s;
  transition: opacity 0.5s ease-out 0.3s, transform 0.5s ease-out 0.3s;
  transition: opacity 0.5s ease-out 0.3s, transform 0.5s ease-out 0.3s,
    -webkit-transform 0.5s ease-out 0.3s;
}

.readMe-page .readMe .reveal .title {
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;

  &:after {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
  }

  &:hover:after {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }

  &:hover {
    color: #000;
  }
}

.readMe-page .readMe .reveal .read-more {
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;

  &:after {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
  }

  &:hover:after {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }

  &:hover {
    color: #000;
  }

  &:hover .read-more:after {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }

  &:hover .read-more {
    color: #000;
  }
}

.readMe-page .readMe .reveal.reveal-show .date,
.readMe-page .readMe .reveal.reveal-show .title,
.readMe-page .readMe .reveal.reveal-show .read-more {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);

  .readMe-page .readMe .reveal.reveal-show .title {
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
  }

  .readMe-page .readMe .reveal.reveal-show .read-more {
    -webkit-transition-delay: 0.6s;
    transition-delay: 0.6s;
  }

  .readMe-page .readMe .reveal.reveal-show .images {
    opacity: 0.5;
  }

  .readMe-page .readMe .reveal.reveal-show .image-container img {
    height: calc(100vh - (106px + 15vh) - 130px);
  }

  .readMe-page .readMe .reveal.reveal-show .image-container:nth-child(1) {
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
  }

  .readMe-page .readMe .reveal.reveal-show .image-container:nth-child(2) {
    -webkit-transition-delay: 0.6s;
    transition-delay: 0.6s;
  }

  .readMe-page .readMe .reveal.reveal-show .image-container:nth-child(3) {
    -webkit-transition-delay: 0.7s;
    transition-delay: 0.7s;
  }
}


@media screen and (min-width: 769px) {
  .readMe-page .readMe .image-container {
    bottom: 160px;
    -webkit-transition: bottom 0.5s ease-in-out;
    transition: bottom 0.5s ease-in-out;
  }

  .readMe-page .readMe .image-container img {
    height: calc(100vh - (106px + 15vh) - 160px);
  }
}

@media screen and (max-width: 1024px) {
  .readMe-page .readMe .title {
    font-size: 50px;
  }

  .readMe-page .readMe .read-more {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  .readMe-page .readMe .info {
    width: 100%;
  }

  .readMe-page .readMe .date {
    font-size: 12px;
  }

  .readMe-page .readMe .title {
    font-size: 32px;
  }

  .readMe-page .readMe .read-more {
    font-size: 16px;
  }

  .readMe-page .readMe .read-more:after {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }

  .readMe-page .readMe .images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 0;
    opacity: 0.5;
  }

  .readMe-page .readMe .image-container {
    position: relative;
    width: 100%;
    height: 100%;
    padding-bottom: 0;
  }

  .readMe-page .readMe article:nth-child(odd) .left {
    right: 98vw;
  }

  .readMe-page .readMe article:nth-child(odd) .center {
    left: 17vw;
  }

  .readMe-page .readMe article:nth-child(odd) .right {
    left: 77vw;
  }

  .readMe-page .readMe article:nth-child(even) .left {
    top: auto;
    right: 80vw;
  }

  .readMe-page .readMe article:nth-child(even) .center {
    left: 22vw;
  }

  .readMe-page .readMe article:nth-child(even) .right {
    left: 95vw;
  }

  .readMe-page .readMe .center {
    width: 75%;
  }
}

@media screen and (max-width: 567px) {
  .readMe-page .readMe .title {
    font-size: 24px;
  }

  .readMe-page .readMe .read-more {
    font-size: 14px;
  }

  .readMe-page .readMe .images {
    display: none;
  }

  .readMe-page .readMe article:nth-child(odd) .left {
    right: 95vw;
  }

  .readMe-page .readMe article:nth-child(odd) .center {
    left: 10vw;
  }

  .readMe-page .readMe article:nth-child(odd) .right {
    left: 90vw;
  }

  .readMe-page .readMe article:nth-child(even) .left {
    top: auto;
    right: 74vw;
  }

  .readMe-page .readMe article:nth-child(even) .center {
    left: 55vw;
  }

  .readMe-page .readMe article:nth-child(even) .right {
    left: 95vw;
  }

  .readMe-page .readMe .center {
    width: 100%;
  }
}

@media screen and (max-height: 420px) {
  .readMe-page .readMe .image-container img {
    height: 80vh;
  }
}

.readMe-post-page:not(.aboutShow) .ui .links .readMe-li:after {
  -webkit-transform: scaleX(1) translateZ(0);
  transform: scaleX(1) translateZ(0);
  -webkit-transition-delay: 0.25s;
  transition-delay: 0.25s;
}

.readMe-post-page .post .article {
  margin-top: calc(108px + 10vh);
  margin-bottom: calc(128px + 10vh);
}

@media screen and (max-width: 767px) {
  .readMe-post-page .post .article {
    margin: calc(71px + 10vh) 30px 10vw;
  }

  .readMe-post-page .post .article>.module-copy-image {
    padding-top: 0;
  }
}
.readMe-post-page .margin-bottom-0 {
  margin-bottom: 0;
}
