.blogs {
    top: 100px; /* Position the bio at the top of its parent container */
    left: 180px;
    text-align: center;
    margin: 0 auto; /* This centers the container horizontally */
    max-width: 900px; /* Adjust the max-width as needed */
    background-color: transparent;
    padding: 20px;
    border: 5px solid lightblue;
    border-radius: 10px;
    justify-content: center; /* Horizontally center-align the content */
    align-items: flex-start; 
  }

  .medium-button {
    font-size: 16px; /* Adjust font size as needed */
    padding: 30px 50px; /* Adjust padding as needed */
    background-color: green; /* Change to your preferred shade of green */
    color: white; /* Text color */
    border-radius: 8px; /* Rounded corners */
    font-size: 24px; /* Adjust font size */
    letter-spacing: 2px; /* Increase spacing between letters */
    text-shadow: 1px 1px 2px green, -1px -1px 2px lime; /* Apply multiple shadows for depth */
  
  }
  
  .medium-button:hover {
    background-color: darkgreen; /* Change to a darker shade on hover if desired */
  }

  .small-button {
    font-size: 8px; /* Adjust font size as needed */
    padding: 15px 25px; /* Adjust padding as needed */
    background-color: green; /* Change to your preferred shade of green */
    color: white; /* Text color */
    border-radius: 8px; /* Rounded corners */
    font-size: 24px; /* Adjust font size */
    letter-spacing: 2px; /* Increase spacing between letters */
    text-shadow: 1px 1px 2px green, -1px -1px 2px lime; /* Apply multiple shadows for depth */
    float: right;
  
  }
  
  .small-button:hover {
    background-color: darkgreen; /* Change to a darker shade on hover if desired */
  }

  .text-area-container {
    margin-top: 20px;
  }
  
.text-area {
    width: 300px;
    height: 150px;
    resize: none;
    padding: 10px;
    margin-bottom: 10px;
}